.container {
    margin-top: 20px;
}

main {
    font-family: $mainFont; 
    .heading {
        font-size: $heading;
        font-style: bold;
    }
    .sub_heading {
        font-size: $sub-heading;
    }
    
    .body_text {
        font-size: $bodyText;
    }
}