header {
    font-family: $headerFont;
    font-size: 13px;
}
a:hover {
    font-style: bold;
}

.logo {
    font-size: 22px;
    font-family: $headerFont;
    color: $contrastColor;
    font-style: italic;
}