.btn-info {
    font-family: $headerFont;
    font-size: $fontBtn;
    color: white;
    background-color: $contrastColor;
    border-color:  $contrastColor;
    float: right;
    border-radius: none;
    
    :hover {
        font-family: $headerFont;
        font-size: $fontBtn;
        color: white;
        background-color: $contrastColor;
        border-color:  $contrastColor;
        float: right;
        border-radius: none;
    }
}

