$contrastColor: #d40083;
$headerFont: Noto Serif, serif;
$mainFont: Lato, sans-serif;
$backgroundColor: lighten($color: whitesmoke, $amount: 0);
$heading: 24px;
$sub-heading: 20px;
$bodyText: 16px;
$fontBtn: 13px;
$footerFont: 11px;
$padding-btn: 5px 30px 5px 30px;